<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA con Añadir, Actualizar, Borrar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
        <link rel="stylesheet" href="css/styleBasic.css" type="text/css">
        <link rel="stylesheet" href="css/spa.css" type="text/css">

</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/adminArea">Admin Area</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
              <!--  <li class="nav-item"><a class="nav-link" href="/movieSearch">Log Out </a></li> -->
                <li class="nav-item"><a class="nav-link" href="/movieSearch">Movie Search</a></li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="mostrarSeccion('añadir')">Añadir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="mostrarSeccion('actualizar')">Actualizar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="mostrarSeccion('borrar')">Borrar</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="añadir" class="section active-section container mt-3">
        <h2>Sección Añadir</h2>
        <p>Contenido de la sección Añadir...</p>
    </div>

    <div id="actualizar" class="section container mt-3">
        <h2>Sección Actualizar</h2>
        <p>Contenido de la sección Actualizar...</p>
    </div>

    <div id="borrar" class="section container mt-3">
        <h2>Sección Borrar</h2>
        <p>Contenido de la sección Borrar...</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        function mostrarSeccion(seccion) {
            var secciones = document.querySelectorAll('.section');
            secciones.forEach(function (element) {
                element.classList.remove('active-section');
            });
            document.getElementById(seccion).classList.add('active-section');
        }
    </script>
</body>

</html>
