<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminArea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/spa.css">
</head>

<div class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/adminArea">Admin Area</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                <li class="nav-item"><a class="nav-link" href="/movieSearch">Movie Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Add New Admin</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="sectionContainer" class="form-control">
    <h3>CRUD</h3>
    <select id="operationSelect">
        <option value="add">ADD</option>
        <option value="update">UPDATE</option>
        <option value="delete">DELETE</option>
    </select>
    <div id="selectedSection"></div>
</div>


<div id="añadir" class="section active-section container mt-3">
    <h2>Choose an element to add</h2>
    <select name="addSelect" id="addSelect" onchange="showInputs()">
        <option value="country">Country</option>
        <option value="language">Language</option>
        <option value="languageRole">Language Rol</option>
        <option value="genre">Genre</option>
        <option value="keyword">Keyword</option>
        <!--<option value="movieCompany">Movie Company</option>-->
        <option value="productionCompany">Production Company</option>
        <option value="gender">Gender</option>
        <option value="person">Person</option>
        <option value="department">Department</option>
        <option value="movie">Movie</option>

    </select>

    <div id="countryInputs" class="dynamicInputs hidden">
        <input type="text" name="countryIsoCode" id="countryInputsAdd_countryIsoCode" placeholder="Country ISO Code" required>
        <input type="text" name="countryName" id="countryInputsAdd_countryName" placeholder="Country Name" required>
    </div>

    <div id="languageInputs" class="dynamicInputs hidden">
        <input type="text" name="languageCode" id="languageInputsAdd_languageCode" placeholder="Language Code" required>
        <input type="text" name="languageName" id="languageInputsAdd_languageName" placeholder="Language Name" required>
    </div>

    <div id="languageRoleInputs" class="dynamicInputs hidden">
        <input type="text" name="languageRole" id="languageRoleInputsAdd_languageRole" placeholder="Language Role" required>
    </div>


    <div id="genreInputs" class="dynamicInputs hidden">
        <input type="text" name="genreName" id="genreInputsAdd_genreName" placeholder="Genre Name" required>
    </div>

    <div id="keywordInputs" class="dynamicInputs hidden">
        <input type="text" name="keywordName" id="keywordInputsAdd_keywordName" placeholder="Keyword Name" required>
    </div>

    <div id="movieCompanyInputs" class="dynamicInputs hidden">
        <input type="text" name="movieId" id="movieCompanyInputsAdd_movieId" placeholder="Movie Id" required>
        <input type="text" name="companyId" id="movieCompanyInputsAdd_companyId" placeholder="Company Id" required>
    </div>

    <div id="productionCompanyInputs" class="dynamicInputs hidden">
        <!--  <input type="text" name="companyIdProduction" id="productionCompanyInputs_companyIdProduction"
            placeholder="Company Id"> -->
        <input type="text" name="companyName" id="productionCompanyInputsAdd_companyName" placeholder="Company Name" required>
    </div>

    <div id="genderInputs" class="dynamicInputs hidden">
        <input type="text" name="genderName" id="genderInputsAdd_genderName" placeholder="Gender" required>
    </div>

    <div id="personInputs" class="dynamicInputs hidden">
        <input type="text" name="personName" id="personInputsAdd_personName" placeholder="Name" required>
    </div>

    <div id="departmentInputs" class="dynamicInputs hidden">
        <input type="text" name="departmentName" id="departmentInputsAdd_departmentName" placeholder="Department Name" required>
    </div>

    <div id="movieInputs" class="dynamicInputs hidden">
        <input type="text" name="title" id="movieInputsAdd_title" placeholder="Title">
        <input type="number" name="budget" id="movieInputsAdd_budget" placeholder="Budget">
        <input type="url" name="homepage" id="movieInputsAdd_homepage" placeholder="Homepage">
        <input type="text" name="overview" id="movieInputsAdd_overview" placeholder="Overview">
        <input type="number" name="popularity" id="movieInputsAdd_popularity" placeholder="Popularity">
        <input type="date" name="relaseDate" id="movieInputsAdd_relaseDate" placeholder="Release Date">
        <input type="number" name="revenue" id="movieInputsAdd_revenue" placeholder="Revenue">
        <input type="number" name="runtime" id="movieInputsAdd_runtime" placeholder="Runtime">
        <input type="text" name="movieStatus" id="movieInputsAdd_movieStatus" placeholder="Movie Status">
        <input type="text" name="tagline" id="movieInputsAdd_tagline" placeholder="Tagline">
        <input type="number" name="voteAvarage" id="movieInputsAdd_voteAvarage" placeholder="Vote Avarage">
        <input type="number" name="voteCount" id="movieInputsAdd_voteCount" placeholder="Vote Count">
    </div>
    

    <input type="button" id="añadirButton" value="Add">
</div>

<div id="actualizar" class="section container mt-3">
    <h2>Choose an element to modify</h2>
    <br>
    <p>Fields that are not entered will not be changed.</p>
    <br>
    <select name="updateSelect" id="updateSelect" onchange="showInputs()">
        <option value="country">Country</option>
        <option value="language">Language</option>
        <option value="languageRole">Language Rol</option>
        <option value="genre">Genre</option>
        <option value="keyword">Keyword</option>
        <!-- <option value="movieCompany">Movie Company</option>-->
        <option value="productionCompany">Production Company</option>
        <option value="gender">Gender</option>
        <option value="person">Person</option>
        <option value="department">Department</option>
        <option value="movie">Movie</option>

    </select>
    <br>
    <div id="countryInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="countryId" id="countryInputsUpdate_countryId" placeholder="Country ID" required>
        <input type="text" name="countryIsoCode" id="countryInputsUpdate_countryIsoCode" placeholder="Country ISO Code">
        <input type="text" name="countryName" id="countryInputsUpdate_countryName" placeholder="Country Name">
    </div>

    <div id="languageInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="languageid" id="languageInputsUpdate_languageId" placeholder="Language ID" required>
        <input type="text" name="languageCode" id="languageInputsUpdate_languageCode" placeholder="Language Code">
        <input type="text" name="languageName" id="languageInputsUpdate_languageName" placeholder="Language Name">
    </div>

    <div id="languageRoleInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="roleId" id="languageRoleInputsUpdate_roleId" placeholder="Role ID" required>
        <input type="text" name="languageRole" id="languageRoleInputsUpdate_languageRole" placeholder="Language Role">
    </div>


    <div id="genreInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="genreId" id="genreInputsUpdate_genreId" placeholder="Genre ID" required>
        <input type="text" name="genreName" id="genreInputsUpdate_genreName" placeholder="Genre Name">
    </div>

    <div id="keywordInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="keywordId" id="keywordInputsUpdate_keywordId" placeholder="Keyword ID" required>
        <input type="text" name="keywordName" id="keywordInputsUpdate_keywordName" placeholder="Keyword Name">
    </div>

    <div id="movieCompanyInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="movieId" id="movieCompanyInputsUpdate_movieId" placeholder="Movie Id">
        <input type="text" name="companyId" id="movieCompanyInputsUpdate_companyId" placeholder="Company Id">
    </div>

    <div id="productionCompanyInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="companyIdProduction" id="productionCompanyInputsUpdate_companyIdProduction"
            placeholder="Company Id" required>
        <input type="text" name="companyName" id="productionCompanyInputsUpdate_companyName" placeholder="Company Name">
    </div>

    <div id="genderInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="genderId" id="genderInputsUpdate_genderId" placeholder="Gender ID" required>
        <input type="text" name="genderName" id="genderInputsUpdate_genderName" placeholder="Gender">
    </div>

    <div id="personInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="personId" id="personInputsUpdate_personId" placeholder="Person ID" required>
        <input type="text" name="personName" id="personInputsUpdate_personName" placeholder="Name">
    </div>

    <div id="departmentInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="departmentId" id="departmentInputsUpdate_departmentId" placeholder="Department ID" required>
        <input type="text" name="departmentName" id="departmentInputsUpdate_departmentName"
            placeholder="Department Name">
    </div>

    <div id="movieInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="movieId" id="movieInputsUpdate_movieId" placeholder="Movie ID" required>
        <input type="text" name="title" id="movieInputsUpdate_title" placeholder="Title">
        <input type="number" name="budget" id="movieInputsUpdate_budget" placeholder="Budget">
        <input type="url" name="homepage" id="movieInputsUpdate_homepage" placeholder="Homepage">
        <input type="text" name="overview" id="movieInputsUpdate_overview" placeholder="Overview">
        <input type="number" name="popularity" id="movieInputsUpdate_popularity" placeholder="Popularity">
        <input type="date" name="relaseDate" id="movieInputsUpdate_relaseDate" placeholder="Release Date">
        <input type="number" name="revenue" id="movieInputsUpdate_revenue" placeholder="Revenue">
        <input type="number" name="runtime" id="movieInputsUpdate_runtime" placeholder="Runtime">
        <input type="text" name="movieStatus" id="movieInputsUpdate_movieStatus" placeholder="Movie Status">
        <input type="text" name="tagline" id="movieInputsUpdate_tagline" placeholder="Tagline">
        <input type="number" name="voteAvarage" id="movieInputsUpdate_voteAvarage" placeholder="Vote Avarage">
        <input type="number" name="voteCount" id="movieInputsUpdate_voteCount" placeholder="Vote Count">
    </div>

    <input type="button" id="actualizarButton" value="Update">
</div>

<div id="borrar" class="section container mt-3">
    <h3>Select the item you want to delete</h3>
    <select name="deleteSelect" id="deleteSelect" onchange="showInputs()">
        <option value="country">Country</option>
        <option value="language">Language</option>
        <option value="languageRole">Language Rol</option>  
        <option value="person">Person</option>
        <option value="movie">Movie</option>
    </select>

    <div id="countryInputsDelete" class="dynamicInputs hidden">
        <input type="text" name="countryId" id="countryInputsDelete_countryId" placeholder="Country ID" required>
    </div>

    <div id="languageInputsDelete" class="dynamicInputs hidden">
        <input type="text" name="languageid" id="languageInputsDelete_languageId" placeholder="Language ID" required>
    </div>

    <div id="languageRoleInputsDelete" class="dynamicInputs hidden">
        <input type="text" name="roleId" id="languageRoleInputsDelete_roleId" placeholder="Role ID" required>
    </div>

    <div id="personInputsDelete" class="dynamicInputs hidden">
        <input type="text" name="roleId" id="personInputsDelete_personId" placeholder="Person ID" required>
    </div>
    
    <div id="movieInputsDelete" class="dynamicInputs hidden">
        <input type="text" name="roleId" id="movieInputsDelete_movieId" placeholder="Movie ID" required>
    </div>

    <input type="button" id="borrarButton" value="Delete">

</div>
<br>
<br>
<br>
<br>
<br>

<!--
<form id="formFilter">
    <select name="filter" id="filter">
        <option value="country">Country</option>
        <option value="language">Language</option>
        <option value="languageRole">Language Role</option>
        <option value="genre">Genre</option>
    </select>

    <input type="text" name="keyword" id="keyword" placeholder="keyword">
    <label for="page">Page:</label>
    <input type="number" name="page" id="page" value="0" required>

    <label for="size">Size:</label>
    <input type="number" name="size" id="size" value="10" required>

    <button type="button" onclick="sendDataFilter()">Filter</button>
</form>
-->


<!--Amb boostrap 1
<form id="formFilter" class="container mt-3">
    <div class="form-group">
        <label for="filter">Filter:</label>
        <select name="filter" id="filter" class="form-control">
            <option value="country">Country</option>
            <option value="language">Language</option>
            <option value="languageRole">Language Role</option>
            <option value="genre">Genre</option>
        </select>
    </div>

    <div class="form-group">
        <label for="keyword">Keyword:</label>
        <input type="text" name="keyword" id="keyword" placeholder="Keyword" class="form-control">
    </div>

    <div class="form-group">
        <label for="page">Page:</label>
        <input type="number" name="page" id="page" value="0" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="size">Size:</label>
        <input type="number" name="size" id="size" value="10" class="form-control" required>
    </div>

    <button type="button" class="btn btn-primary" onclick="sendDataFilter()">Filter</button>
</form>-->

<form id="formFilter" class="container mt-3">
    <div class="form-group">
        <label for="filter">Filter:</label>
        <select name="filter" id="filter" class="form-control">
            <option value="country">Country</option>
            <option value="language">Language</option>
            <option value="languageRole">Language Role</option>
            <option value="genre">Genre</option>
            <option value="actor">Actor</option>
            <option value="movie">Movie</option>
            <option value="productionCompany">Production Company</option>
            <option value="person">Person</option>
            <option value="department">Department</option>
            <option value="keyword">keyword</option>
        </select>
    </div>

    <div class="form-group">
        <label for="keyword">Keyword:</label>
        <input type="text" name="keyword" id="keyword" placeholder="Keyword" class="form-control">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="page">Page:</label>
            <input type="number" name="page" id="page" value="0" class="form-control" required>
        </div>

        <div class="form-group col-md-6">
            <label for="size">Size:</label>
            <input type="number" name="size" id="size" value="10" class="form-control" required>
        </div>
    </div>

    <button type="button" class="btn btn-primary" onclick="sendDataFilter()">Filter</button>
</form>


<table id="resultTable" class="table" border="1">
</table>

<div id="relationsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <label for="relationSelect">Selecciona una opción:</label>
        <select id="relationSelect">
            <!--  <option value="ProductionCompany">Production Company</option>-->
            <option value="MovieGenre">Movie Genre</option>
            <option value="Director">Director</option>
        </select>
        <div class="modal-body">
            <!-- Contenido de búsqueda de personas -->
            <input type="text" name="relationKeyword" id="relationKeyword" placeholder="Keyword">
            <label for="page">Page:</label>
            <input type="number" name="page" id="relationPage" value="0" required>
            <label for="size">Size:</label>
            <input type="number" name="size" id="relationSize" value="10" required>

            <!-- Resultados de búsqueda de personas -->
            <ul id="relationResults"></ul>
        </div>
    </div>
</div>


<div class="modal" id="addPersonModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Director to Crew</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" name="personKeyword" id="personKeyword" placeholder="Keyword">
                <label for="page">Page:</label>
                <input type="number" name="page" id="personPage" value="0" required>
                <label for="size">Size:</label>
                <input type="number" name="size" id="personSize" value="10" required>
                <ul id="personResults"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addGenreModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Genre to Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" name="genreKeyword" id="genreKeyword" placeholder="Keyword">
                <label for="page">Page:</label>
                <input type="number" name="page" id="genrePage" value="0" required>
                <label for="size">Size:</label>
                <input type="number" name="size" id="genreSize" value="10" required>
                <ul id="genreResults"></ul>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" onclick="addDirector()">Add Director</button>-->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script src="/js/adminSPA.js"></script>
<script src="/js/crudFilter.js"></script> 
</body>

</html>