<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminArea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/spa.css">
</head>

<div class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/adminArea">Admin Area</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                <!--  <li class="nav-item"><a class="nav-link" href="/movieSearch">Log Out </a></li> -->
                <li class="nav-item"><a class="nav-link" href="/movieSearch">Movie Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Add New Admin</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="sectionContainer">
    <h3>CRUD</h3>
    <select id="operationSelect">
        <option value="add">ADD</option>
        <option value="update">UPDATE</option>
        <option value="delete">DELETE</option>
    </select>
    <div id="selectedSection"></div>
</div>


<div id="añadir" class="section active-section container mt-3">
    <h2>Elige un elemento para añadir</h2>
    <select name="addSelect" id="addSelect" onchange="showInputs()">
        <option value="country">Country</option>
        <option value="language">Language</option>
        <option value="languageRole">Language Rol</option>
        <option value="genre">Genre</option>
        <option value="keyword">Keyword</option>
        <option value="movieCompany">Movie Company</option>
        <option value="productionCompany">Production Company</option>
        <option value="gender">Gender</option>
        <option value="person">Person</option>
        <option value="department">Department</option>
    </select>

    <div id="countryInputs" class="dynamicInputs hidden">
        <input type="text" name="countryIsoCode" id="countryInputs_countryIsoCode" placeholder="Country ISO Code">
        <input type="text" name="countryName" id="countryInputs_countryName" placeholder="Country Name">
    </div>

    <div id="languageInputs" class="dynamicInputs hidden">
        <input type="text" name="languageCode" id="languageInputs_languageCode" placeholder="Language Code">
        <input type="text" name="languageName" id="languageInputs_languageName" placeholder="Language Name">
    </div>

    <div id="languageRoleInputs" class="dynamicInputs hidden">
        <input type="text" name="languageRole" id="languageRoleInputs_languageRole" placeholder="Language Role">
    </div>


    <div id="genreInputs" class="dynamicInputs hidden">
        <input type="text" name="genreName" id="genreInputs_genreName" placeholder="Genre Name">
    </div>

    <div id="keywordInputs" class="dynamicInputs hidden">
        <input type="text" name="keywordName" id="keywordInputs_keywordName" placeholder="Keyword Name">
    </div>

    <div id="movieCompanyInputs" class="dynamicInputs hidden">
        <input type="text" name="movieId" id="movieCompanyInputs_movieId" placeholder="Movie Id">
        <input type="text" name="companyId" id="movieCompanyInputs_companyId" placeholder="Company Id">
    </div>

    <div id="productionCompanyInputs" class="dynamicInputs hidden">
        <!--  <input type="text" name="companyIdProduction" id="productionCompanyInputs_companyIdProduction"
            placeholder="Company Id"> -->
        <input type="text" name="companyName" id="productionCompanyInputs_companyName" placeholder="Company Name">
    </div>

    <div id="genderInputs" class="dynamicInputs hidden">
        <input type="text" name="genderName" id="genderInputs_genderName" placeholder="Gender">
    </div>

    <div id="personInputs" class="dynamicInputs hidden">
        <input type="text" name="personName" id="personInputs_personName" placeholder="Name">
    </div>

    <div id="departmentInputs" class="dynamicInputs hidden">
        <input type="text" name="departmentName" id="departmentInputs_departmentName" placeholder="Department Name">
    </div>

    <input type="button" id="addButton" value="Add">
</div>

<div id="actualizar" class="section container mt-3">
    <h2>Elige un elemento para modificar</h2>
    <select name="updateSelect" id="updateSelect">
        <option value="country">Country</option>
        <option value="language">Language</option>
        <option value="language_role">Language Rol</option>
        <option value="genre">Genre</option>
        <option value="keyword">Keyword</option>
        <option value="movie_company">Movie Company</option>
        <option value="production_company">Production Company</option>
        <option value="gender">Genre</option>
        <option value="person">Person</option>
        <option value="department">Department</option>
    </select>

    <div id="countryInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="countryId" id="countryInputsUpdate_countryId" placeholder="Country ID">
        <input type="text" name="countryIsoCode" id="countryInputsUpdate_countryIsoCode" placeholder="Country ISO Code">
        <input type="text" name="countryName" id="countryInputsUpdate_countryName" placeholder="Country Name">
    </div>

    <div id="languageInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="languageid" id="languageInputsUpdate_languageId" placeholder="Language ID">
        <input type="text" name="languageCode" id="languageInputsUpdate_languageCode" placeholder="Language Code">
        <input type="text" name="languageName" id="languageInputsUpdate_languageName" placeholder="Language Name">
    </div>

    <div id="languageRoleInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="roleId" id="languageRoleInputsUpdate_roleId" placeholder="Role ID">
        <input type="text" name="languageRole" id="languageRoleInputsUpdate_languageRole" placeholder="Language Role">
    </div>


    <div id="genreInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="genreId" id="genreInputsUpdate_genreId" placeholder="Genre ID">
        <input type="text" name="genreName" id="genreInputsUpdate_genreName" placeholder="Genre Name">
    </div>

    <div id="keywordInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="keywordId" id="keywordInputsUpdate_keywordId" placeholder="Keyword ID">
        <input type="text" name="keywordName" id="keywordInputsUpdate_keywordName" placeholder="Keyword Name">
    </div>

    <div id="movieCompanyInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="movieId" id="movieCompanyInputsUpdate_movieId" placeholder="Movie Id">
        <input type="text" name="companyId" id="movieCompanyInputsUpdate_companyId" placeholder="Company Id">
    </div>

    <div id="productionCompanyInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="companyIdProduction" id="productionCompanyInputsUpdate_companyIdProduction"
            placeholder="Company Id">
        <input type="text" name="companyName" id="productionCompanyInputsUpdate_companyName" placeholder="Company Name">
    </div>

    <div id="genderInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="genderId" id="genderInputsUpdate_genderId" placeholder="Gender ID">
        <input type="text" name="genderName" id="genderInputsUpdate_genderName" placeholder="Gender">
    </div>

    <div id="personInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="personId" id="personInputsUpdate_personId" placeholder="Person ID">
        <input type="text" name="personName" id="personInputsUpdate_personName" placeholder="Name">
    </div>

    <div id="departmentInputsUpdate" class="dynamicInputs hidden">
        <input type="text" name="departmentId" id="departmentInputsUpdate_departmentId" placeholder="Department ID">
        <input type="text" name="departmentName" id="departmentInputsUpdate_departmentName"
            placeholder="Department Name">
    </div>

    <input type="button" id="updateButton" value="Update">
</div>

<!--</div>-->

<div id="borrar" class="section container mt-3">
    <h3>Elige un elemento para modificar</h3>
    <select name="deleteSelect" id="deleteSelect">
        <option value="country">Country</option>
        <option value="language">Language</option>
        <option value="language_role">Language Rol</option>
        <option value="genre">Genre</option>
        <option value="keyword">Keyword</option>
        <option value="movie_company">Movie Company</option>
        <option value="production_company">Production Company</option>
        <option value="gender">Genre</option>
        <option value="person">Person</option>
        <option value="department">Department</option>
    </select>


    <!-- <div id="deleteElements">
        
        <label for="countryIsoCode">
            <input type="text" name="countryIsoCode" id="countryIsoCode" placeholder="country_iso_code">
        </label>
        <label for="countryName">
            <input type="text" name="countryName" id="countryName" placeholder="Country Name">
        </label>
        
    </div>-->


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script src="/js/probaAdmin.js"></script>
<!--<script src="/js/adminSPA.js"></script> -->

</body>

</html>