<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/src/main/resources/static/favicon_package_v0-2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0-2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0-2/favicon-16x16.png">
    <link rel="manifest" href="/favicon_package_v0-2/site.webmanifest">
    <link rel="mask-icon" href="/favicon_package_v0-2/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Drawing 2.0">
    <meta name="application-name" content="Drawing 2.0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styleBasic.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/login">Admin Area</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="/movieSearch">Movie Search</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>-->
                </ul>
            </div>
        </nav>
    </header>
    <div class="container mt-5">

        <h1>Bienvenido de nuevo</h1>

        <form action="/login" method="post">
            <!-- form inicio de sesión -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>

        <!-- Mensajes de éxito o error -->
        <div th:if="${missatgeRegistre != null}" style="color: green;">
            <span th:text="${missatgeRegistre}"></span>
        </div>
        <div th:if="${missatgeLogin != null}" style="color: green;">
            <span th:text="${missatgeLogin}"></span>
        </div>
        <div th:if="${missatgeError != null}" style="color: red;">
            <span th:text="${missatgeError}"></span>
        </div>
        <div th:if="${missatgeError != null}" style="color: red;">
            <span th:text="${missatgeErrorAttempts}"></span>
        </div>

        <!-- Botón de registro -->
        <a href="register" class="btn btn-secondary">Quiero registrarme</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
