<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/src/main/resources/static/favicon_package_v0-2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0-2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0-2/favicon-16x16.png">
    <link rel="manifest" href="/favicon_package_v0-2/site.webmanifest">
    <link rel="mask-icon" href="/favicon_package_v0-2/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Drawing 2.0">
    <meta name="application-name" content="Drawing 2.0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body>
<h1>Bienvenido de nuevo</h1>
<form action="/login" method="post">
    <!-- form inici de sesió -->
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required><br>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" required><br>
    <p><input name="Iniciar sesión" value="Iniciar sesión" type="submit" required></p>
</form>

<!-- Missatges de exit o error -->
<div th:if="${missatgeRegistre != null}" style="color: green;">
    <span th:text="${missatgeRegistre}"></span>
</div>
<div th:if="${missatgeLogin != null}" style="color: green;">
    <span th:text="${missatgeLogin}"></span>
</div>
<div th:if="${missatgeError != null}" style="color: red;">
    <span th:text="${missatgeError}"></span>
</div>
<div th:if="${missatgeError != null}" style="color: red;">
    <span th:text="${missatgeErrorAttempts}"></span>
</div>


<!-- Boto de registre-->
<!--
<a th:href="@{/register}">Regístrate aquí</a> -->
<a href="register">Quiero registrarme</a>

</body>
</html>
