<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Search</title>
</head>
<body>
<header>
    <div class="header">
        <nav>
            <ul class="nav-list">
                <li class="barra-pagina"><a href="/movieSearch">Search</a></li>
                <li class="barra-pagina"><a href="/login">Admin Area</a></li>
                <li class="barra-pagina"><a href="/allCanvas"></a></li>
                <li class="barra-pagina"><a href="/login"></a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>