<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Movie Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleBasic.css">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/movieSearch">Movie Search</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/adminArea">Admin Area</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <h1 class="mb-4">Search your Movies</h1>
        <form id="formFilter">
            <select name="filter" id="filter">
                <option value="actor">Actor</option>
                <option value="character">Movie character</option>
                <option value="title">Title</option>
                <option value="genre">Genre</option>
                <option value="director">Director</option>
                <option value="author">Author</option>
            </select>

            <input type="text" name="keyword" id="keyword" placeholder="keyword">
            <!--Probant coses-->
            <label for="page">Page:</label>
            <input type="number" name="page" id="page" value="0" required>

            <label for="size">Size:</label>
            <input type="number" name="size" id="size" value="10" required>

            <button type="button" onclick="sendData()">Filter</button>
        </form>

        <table id="resultTable" class="table" border="1">
        </table>


        <!-- Agrega este código al final del body -->
        <div class="modal" id="movieModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Movie Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div >
                            <button type="button" class="btn btn-primary" id="btnPersonSearch">Add new person to cast</button>
                            <button th:if="${isEmailAvailable}" type="button" class="btn btn-primary" id="btnDirectorsSearch">Directors</button>
                        </div>

                </div>

                <div class="modal-body" id="movieModalBody">
                    <!-- Aqui va la info de el modal -->
                </div>
                <div class="modal-footer">
                    <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                </div>
            </div>
        </div>
    </div>


    <!--Proba de modal de gender-->

        <!-- Modal personalizado -->
        <div id="dynamicPromptModal" class="modal">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>Choose an Gender:</h3>
                <ul id="genderList" class="options-list">
                    <!-- Opciones se agregarán aquí dinámicamente -->
                </ul>
            </div>
        </div>


    <!-- Modal para añadir nueva persona a la película -->
    <div class="modal" id="addPersonModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Person to Cast</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Contenido de búsqueda de personas -->
                    <input type="text" name="personKeyword" id="personKeyword" placeholder="Keyword">
                    <label for="page">Page:</label>
                    <input type="number" name="page" id="personPage" value="0" required>
                    <label for="size">Size:</label>
                    <input type="number" name="size" id="personSize" value="10" required>

                    <!-- Resultados de búsqueda de personas -->
                    <ul id="personResults"></ul>
                </div>
                <div class="modal-footer">
                    <button th:if="${email}"  type="button" class="btn btn-primary" onclick="addPersonToCast()">Add Person</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
        <!-- Modal para AddToMovie -->
<div class="modal fade" id="addToMovieModal" tabindex="-1" role="dialog" aria-labelledby="addToMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToMovieModalLabel">Add To Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="addToMovieSelect">Select Type:</label>
                <select name="addToMovieSelect" id="addToMovieSelect" class="form-control">
                    <option value="MovieCrew">Movie Crew</option>
                    <option value="Company">Company</option>
                    <option value="MovieGenre">Movie Genre</option>
                    <option value="MovieKeyword">Movie Keyword</option>
                </select>
                
                <!-- Contenido de búsqueda de personas -->
                <label for="personKeyword">Keyword:</label>
                <input type="text" name="personKeyword" id="personKeyword" class="form-control" placeholder="Keyword">
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="personPage">Page:</label>
                        <input type="number" name="personPage" id="personPage" class="form-control" value="0" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="personSize">Size:</label>
                        <input type="number" name="personSize" id="personSize" class="form-control" value="10" required>
                    </div>
                </div>
    
                <!-- Resultados de búsqueda de personas -->
                <ul id="relationResult" class="list-group"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addToMovie()">Add</button>
            </div>
        </div>
    </div>
</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <script th:inline="javascript">
            var isEmailAvailable = [[${email}]];
        </script>

    <script src="/js/filter.js"></script>
</body>

</html>